{% extends "base.html" %}
{% block title %}
    <title>待完成列表页</title>
{% endblock %}
{% block content %}
    <div class="container app-container">
        <form action="{% url 'todo-index' %}" method="POST">
            {% csrf_token %}
                <label>
                    <input class="form-control" type="text" name="todo" placeholder="请输入待办事项">
                </label>
                <input type="submit" class="btn btn-primary" value="提交">

        </form>
        <table class="table table-primary">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Thing</th>
                <th scope="col">Create Date</th>
                <th scope="col">Create By</th>
                <th scope="col">Finish Status</th>
            </tr>
            </thead>
            <tbody>
            {% for todo in obj %}
                <tr>
                    <th scope="row">{{ todo.id }}</th>
                    <td>{{ todo.short_text }}</td>
                    <td>{{ todo.created_at }}</td>
                    <td>{{ todo.create_by }}</td>
                    <td>
                        {% if todo.is_finished %}
                            <button type="button" class="btn btn-success btn-sm">已完成</button>
                        {% else %}
                            <a href="{% url 'finish-todo' todo.id %}" type="button"
                               class="btn btn-primary btn-sm">未完成</a>
                        {% endif %}
                    </td>
                </tr>
            {% empty %}
                <p>暂时没有待办事项, 刷会抖音吧</p>
            {% endfor %}

            </tbody>
        </table>
    </div>

{% endblock %}




