{% extends "base.html" %}
{% block title%}
    <title>待完成列表页</title>
{% endblock %}
{% block content %}
    <div class="container">
        <form action="{% url 'todo-index' %}" method="POST">
            {% csrf_token %}
            <label>
                <input type="text" name="todo" placeholder="请输入待办事项">
            </label>
            <input type="submit" class="btn btn-primary" value="提交">
        </form>
        <ul class="list-group">
            {% for todo in obj %}
                <li class="list-group-item">
                    {{ todo.short_text }} ----- {{ todo.created_at }} -----
                    {% if todo.is_finished %}
                        已完成
                    {% else %}
                        <a href="{% url 'finish-todo' todo.id %}">未完成</a>
                    {% endif %}
                </li>
            {% empty %}
                <p>暂时没有待办事项, 刷会抖音吧</p>
            {% endfor %}

        </ul>
    </div>
    <style>
        .container {
            width: 60%;
            margin: 0 auto;
            margin-top: 100px;
        }
    </style>
{% endblock %}




